on:
  push:
    branches:
      - "master"

name: release

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3.5.0
        with:
          include-v-in-tag: false
          release-type: simple
          extra-files: |
            build.gradle
            README.md
